{% extends "materiels/base.html" %}

{% block body %}
<h3 class="m-4">Materials in Breakdown (Panne)</h3>
<div class="row">
  <div class="col-12">
    {% if materiels %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Breakdown Materials Records
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Type d'ordinateur</th>
                <th scope="col">Modèle</th>
                <th scope="col">Processeur</th>
                <th scope="col">Mémoire RAM (GO)</th>
                <th scope="col">Taille du Disque Dur (Go)</th>
                <th scope="col">Adresse IP</th>
                
              </tr>
            </thead>
            <tbody>
              {% for materiel in materiels %}
              <tr>
                <td>{{ materiel.type_d_ordinateur }}</td>
                <td>{{ materiel.Modele }}</td>
                <td>{{ materiel.Processeur }}</td>
                <td>{{ materiel.Memoire_RAM }}</td>
                <td>{{ materiel.Taille_du_Disque_Dur }}</td>
                <td>{{ materiel.Adresse_IP }}</td>
                <td>
                  <!-- Action buttons like view, edit, delete -->
                  <!-- Customize as needed -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
      <h5 class="alert alert-primary ms-4 me-4">No material records in breakdown (panne).</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
